a {
  text-decoration: none;
}

.logo {
  cursor: pointer;
}

/* Default navbar */
@media screen and (min-width: 800px) {
  div.nav { display: none; }

  nav {
    background: #001729;
    height: 60px;
    -webkit-box-shadow: 0 0 15px -1px #000;
    box-shadow: 0 0 15px -1px #000;
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
  }

  nav ul {
    list-style: none;
    float: right;
    margin-top: 2px;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul .section {
    padding: 15px 15px 5px 15px;
  }

  nav ul .section:hover {
    border-bottom: 2px solid #ec592c;
    transition: all 500ms ease;
    cursor: pointer;
  }

  nav ul li a {
    font-size: 18px;
    color: #fff;
  }

  nav ul li a:hover {
    color: #fff;
    text-decoration: none;
  }

  nav ul li a:focus {
    color: #fff;
    text-decoration: none;
  }

  nav ul li a:visited {
    color: #fff;
    text-decoration: none;
  }

  nav img {
    margin-top: -4px;
  }
}
/* End default navbar */

/* Mobile navbar */
@media screen and (max-width: 799px) {
  #default-navbar { display: none; }

  body {
    margin: 0px;
    font-family: 'segoe ui';
  }

  .nav {
    height: 65px;
    background-color: #001729;
    -webkit-box-shadow: 0 0 15px -1px #000;
    box-shadow: 0 0 15px -1px #000;
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
  }

  .nav > .nav-header {
    display: inline;
  }

  .nav > .nav-header > .nav-title {
    display: inline-block;
  }

  .nav > #nav-check {
    display: none;
  }

  .nav > .nav-btn {
    display: inline-block;
    float: right;
    margin-right: 10px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding-top: 20px;
    padding-left: 15px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #001729;
    height: 250px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 58px;
    left: 0px;
  }

  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }

  .nav ul {
    padding-left: 0;
    margin-left: 25px;
    width: 88%;
  }

  .nav li {
    list-style: none;
    margin-top: 15px;
    border-bottom: 1px solid #808080;
    height: 35px;
    font-size: 18px;
  }

  .nav a {
    color: #fcfcfc;
    font-weight: bold;
    margin-left: 10px;
  }

  .nav a:focus {
    color: #a1a1a1;
    outline: none;
    text-decoration: none;
  }
}
/* End mobile navbar */

.nav img {
  margin-top: 3px;
}

header {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 80vh;
  position: fixed;
  z-index: 100;
  top: 0;
  text-align: center;
}

header section {
  z-index: 2000;
  top: 25vh;
  position: fixed;
  color: white;
  width: 100%;
}

header img {
  width: 100%;
  height: 100%;
  filter: brightness(75%);
}

header section #title {
  display: block;
  font-size: 40px;
  font-weight: bold;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

header section #subtitle {
  display: block;
  font-size: 25px;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;
}

div#content {
  margin-top: 80vh;
  background: white;
  z-index: 1000;
  position: relative;
  -webkit-box-shadow: 0 0 15px -1px #000;
  box-shadow: 0 0 15px -1px #000;
}

#content section {
  margin-top: 100px;
}

section#about {
  text-align: center;
}

article.bio {
  padding-left: 20%;
  padding-right: 20%;
}

.section-title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

section h1.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 40px;
  display: block;
  color: #001729;
}

article h1.title {
  width: 510px;
}

hr.special {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 80%;
}

#about p {
  color: #7f7f7f;
  font-size: 18px;
}

.img-responsive {
  display: block;
  width: 100% !important;
  height: 400px !important;
}

#services article {
  margin-bottom: 40px;
}

#services .boxes {
  max-width: 1400px;
  margin: 0 auto;
}

#services .boxes .box {
  padding: 15px;
  width: 33%;
  max-width: 465px;
  margin-top: 40px;
}

#services li {
  font-size: 16px;
}

.description {
  font-size: 16px;
}

section#contact {
  background: #16203a;
  padding: 15px 15px 170px 15px;
  margin-bottom: 30px;
}

section#contact {
  height: 100vh;
}

section#contact .section-title .title {
  color: white;
}

section#contact .section-title .special {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

section#contact article {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
}

article#form {
  margin-left: 0;
  margin-right: 0;
}

article#form #submit {
  color: white;
  background-color: #fc764d;
  border: 1px #fc764d solid;
  border-radius: 3px;
  width: 140px;
  height: 40px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

article#form #submit:hover {
  background-color: #ff4b14;
  border-color: #ff4b14;
}

article#form textarea {
  height: 133px;
}

.small-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

#cellphone {
  margin-right: 5%;
  margin-left: 5%;
  padding-bottom: 74px !important;
}

article#cellphone #numbers {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

article#cellphone .number-container {
  margin-bottom: 10px;
}

article#cellphone img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

footer {
  text-align: center;
  background-color: white;
  padding: 20px 20px 0 20px;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

@media screen and (min-width: 1500px) {
  .carousel-inner > .item > img {
    height: 600px !important;
  }
}

.carousel-img {
  height: 400px !important;
  width: 700px;
}

.carousel-div {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 300px;
}

.carousel-inner {
  width: 100%;
}

.modal-dialog {
  top: 10%;
}

.modal-content {
  height: 400px;
}

.modal-body {
  padding: 2px !important;
}

.modal-content .carousel-img {
  height: 300px !important;
}

.carousel {
  position: relative;
  height: inherit;
}

.modal-content .carousel {
  height: 355px !important;
}

.modal-content .carousel-inner > .item > img { height: 350px !important; }
.modal-content .carousel-inner               { height: 350px !important; }

.carousel-control {
  background: transparent !important;
  opacity: 1 !important;
}

/* Modal on big screen */
@media screen and (min-width: 1020px) {
  .modal-dialog {
    width: 1000px !important;
  }

  .modal-content { height: 600px; }
  .modal-content .carousel-inner > .item > img { height: 650px !important; }
  .modal-content .carousel-inner               { height: 550px !important; }
  .modal-content .carousel { height: 550px !important; }

  .modal-content .carousel-img {
    height: 1000px !important;
    width: 1000px !important;
  }
}

.carousel-inner {
  height: inherit;
}

#imagemodal .modal-dialog {
  top: 10%;
  width: 80% !important;
  height: 50%;
}

.carousel img.vertical {
  width: 400px !important;
}