a {
  text-decoration: none;
}

.hidden-content {
  display: none;
}

/* Default navbar */
@media screen and (min-width: 800px) {
  div.nav { display: none; }

  nav {
    background: #001729;
    height: 60px;
    -webkit-box-shadow: 0 0 15px -1px #000;
    box-shadow: 0 0 15px -1px #000;
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
  }

  nav .logo {
    padding: 20px;
  }

  nav ul {
    list-style: none;
    float: right;
    margin-top: 5px;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul .section {
    padding: 15px 15px 5px 15px;
  }

  nav ul .section:hover {
    border-bottom: 2px solid #ec592c;
    transition: all 500ms ease;
    cursor: pointer;
  }

  nav ul li a {
    font-size: 18px;
    color: #fff;
  }

  nav ul li a:hover {
    color: #fff;
    text-decoration: none;
  }

  nav ul li a:focus {
    color: #fff;
    text-decoration: none;
  }

  nav ul li a:visited {
    color: #fff;
    text-decoration: none;
  }

  nav img {
    width: 40px;
    vertical-align: middle;
  }
}
/* End default navbar */

/* Mobile navbar */
@media screen and (max-width: 799px) {
  #default-navbar { display: none; }

  body {
    margin: 0px;
    font-family: 'segoe ui';
  }

  .nav {
    height: 65px;
    background-color: #001729;
    -webkit-box-shadow: 0 0 15px -1px #000;
    box-shadow: 0 0 15px -1px #000;
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
  }

  .nav > .nav-header {
    display: inline;
  }

  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }

  .nav > #nav-check {
    display: none;
  }

  .nav > .nav-btn {
    display: inline-block;
    float: right;
    margin-right: 10px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding-top: 20px;
    padding-left: 15px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #001729;
    height: 250px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }

  .nav ul {
    padding-left: 0;
    margin-left: 25px;
    width: 88%;
  }

  .nav li {
    list-style: none;
    margin-top: 15px;
    border-bottom: 1px solid #808080;
    height: 35px;
    font-size: 18px;
  }

  .nav a {
    color: #fcfcfc;
    font-weight: bold;
    margin-left: 10px;
  }

  .nav a:focus {
    color: #a1a1a1;
    outline: none;
    text-decoration: none;
  }
}
/* End mobile navbar */


.full-page {
  min-height: 100vh;
  background: white;
  padding-top: 70px;
}

header {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 80vh;
  position: fixed;
  z-index: 100;
  top: 0;
  text-align: center;
}

header section {
  z-index: 2000;
  top: 25vh;
  position: fixed;
  color: white;
  width: 100%;
}

header img {
  width: 100%;
  height: 100%;
  filter: brightness(75%);
}

header section #title {
  display: block;
  font-size: 30px;
  font-weight: bold;
}

header section #subtitle {
  display: block;
  font-size: 20px;
}

div#content {
  margin-top: 80vh;
  padding-top: 5%;
  background: white;
  z-index: 1000;
  position: relative;
  -webkit-box-shadow: 0 0 15px -1px #000;
  box-shadow: 0 0 15px -1px #000;
  height: 100vh;
}

@media screen and (max-width: 799px) {
  div#content {
    padding-top: 20%;
  }
}

section#about {
  text-align: center;
}

@media screen and (min-width: 800px) {
  #about article {
    padding-left: 20%;
    padding-right: 20%;
  }
}

#about h4 {
  color: #595959;
}

hr.small {
  width: 15%;
  border-bottom: 2px solid #444444;
}